h1{
  color: black;
}

.langSelector {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 1000; /* ensure it's above other elements */
  display: flex;
  align-items: center;
  gap: 10px; /* spacing between dropdown and text */
}

.langSelector select {
  padding: 0.4rem 0.6rem;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: white;
  cursor: pointer;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.magic-search {
  margin-top: 20px;
  width: 300px;
  background: transparent; /* no background needed if fully borderless */
  box-shadow: none;         /* remove shadow */
  padding: 0;
}

.magic-search.mat-form-field {
  width: 100%;
  font-family: Arial, sans-serif;
  font-size: 14px;
  margin: 0;
  background: transparent;
  border: none;
}

.magic-search .mat-form-field-wrapper,
.magic-search .mat-form-field-flex,
.magic-search .mat-form-field-outline {
  border: none !important;
  box-shadow: none !important;
  background: transparent !important;
}

.magic-search input {
  padding-left: 8px;
  border: none;
  outline: none;
  box-shadow: none;
}

