<div class="header-container">
<header class="langSelector">
    <mat-form-field *ngIf="authenticated" appearance="outline" class="magic-search">
        <mat-icon matPrefix>search</mat-icon>
        <input
            matInput
            
            [(ngModel)]="searchControl"
            placeholder="{{ 'Magic Search' | translate }}"
            (keydown)="onKeyDown($event)"

        />

    </mat-form-field>
        <button mat-flat-button="filled" color="primary" (click)="search()">
            <mat-icon>search</mat-icon>
            {{ 'Search' | translate }}
        </button>
        <div *ngIf="isSearched">
            <button  mat-flat-button color="primary" (click)="goBack()">
                <mat-icon>arrow_back</mat-icon>
                {{ 'Go Back to'  | translate }}
                {{goBackFrom}}
            </button>
        </div>
        
    <h1>{{'Crew Management System' |translate }}</h1>
    <select [value]="selectedLang" (change)="onChange($event)">
        <option value="en">English</option>
        <option value="tr">Türkçe</option>
        <option value="pt">Português</option>
    </select>
    
</header>

</div>
