h1{
  color: black;
}

.langSelector {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 1000; /* ensure it's above other elements */
  display: flex;
  align-items: center;
  gap: 10px; /* spacing between dropdown and text */
}

.langSelector select {
  padding: 0.4rem 0.6rem;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: white;
  cursor: pointer;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.google-search {
  width: 300px;
  background: white;
  border-radius: 24px;
  box-shadow: 0 1px 3px rgba(60, 64, 67, 0.3);
  padding: 2px 12px;
  margin-left: auto;
  margin-right: 16px;
}

.magic-search.mat-form-field {
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.magic-search .mat-form-field-wrapper {
  padding: 0 !important;
}

.magic-search .mat-form-field-flex {
  border-radius: 24px;
}

.magic-search input {
  padding-left: 8px;
}
