<div class="backdrop" (click)="onCancel()"></div>

<dialog open>
  <h2>{{ 'Add Certificate Type' | translate }}</h2>

  <form (ngSubmit)="onSubmit()" #certificateForm="ngForm">
    <p>
      <label for="name">{{ 'Name' | translate }}</label>
      <input
        type="text"
        id="name"
        name="name"
        required
        [(ngModel)]="enteredName"
      />
    </p>

    <p>
      <label for="description">{{ 'Description' | translate }}</label>
      <input
        type="text"
        id="description"
        name="description"
        required
        [(ngModel)]="enteredDescription"
      />
    </p>

    <p class="actions">
      <button type="button" (click)="onCancel()">
        {{ 'Cancel' | translate }}
      </button>
      <button type="submit">
        {{ 'Create' | translate }}
      </button>
    </p>
  </form>
</dialog>
