<div class="crew-card-wrapper">
    <h1>
        Crew Card
    </h1>
<mat-tab-group>
  <mat-tab label="Card">
    <p>{{crewDetails?.firstName}}</p>
    <p>{{crewDetails?.lastName}}</p>
    <p>{{crewDetails?.nationality}}</p>
    <p>{{crewDetails?.title}}</p>
    <p>{{crewDetails?.daysOnBoard}}</p>
    <p>{{crewDetails?.dailyRate}}</p>
    <p>{{crewDetails?.currency}}</p>
    <p>{{crewDetails?.totalIncome}}</p>
  </mat-tab>
  <mat-tab label="Certificates">
    <app-certificate-modal [dataSource]="crewDetails?.certificateTypes ?? []" />
  </mat-tab>
</mat-tab-group>
</div>
