<div class="crew-card-wrapper">
    <h1>
        Crew Card
    </h1>
<mat-tab-group>
  <mat-tab label="Card">
    <mat-list>
      <mat-list-item>
        <strong>First Name:</strong>&nbsp;{{ crewDetails?.firstName }}
      </mat-list-item>
      <mat-list-item>
        <strong>Last Name:</strong>&nbsp;{{ crewDetails?.lastName }}
      </mat-list-item>
      <mat-list-item>
        <strong>Nationality:</strong>&nbsp;{{ crewDetails?.nationality }}
      </mat-list-item>
      <mat-list-item>
        <strong>Title:</strong>&nbsp;{{ crewDetails?.title }}
      </mat-list-item>
      <mat-list-item>
        <strong>Days on Board:</strong>&nbsp;{{ crewDetails?.daysOnBoard }}
      </mat-list-item>
      <mat-list-item>
        <strong>Daily Rate:</strong>&nbsp;{{ crewDetails?.dailyRate }}
      </mat-list-item>
      <mat-list-item>
        <strong>Currency:</strong>&nbsp;{{ crewDetails?.currency }}
      </mat-list-item>
      <mat-list-item>
        <strong>Total Income:</strong>&nbsp;{{ crewDetails?.totalIncome }}
      </mat-list-item>
    </mat-list>

    
  </mat-tab>
  <mat-tab label="Certificates">
    <app-certificate-modal [dataSource]="crewDetails?.certificateTypes ?? []" />
  </mat-tab>
</mat-tab-group>
</div>
