
  <app-new-crew *ngIf = "isAddingCrew" 
    [memberToEdit]="memberBeingEdited" 
    (Cancel)="onCancelAddCrew()" 
    (Add)="onAddCrew($event)"
  /> 
  <!-- this leads a cruical error which is when we adding a certificate to
    a crew it opens up a new modal and submits new crew modal -->

<div class="crew-table-wrapper">
</div>

<h1>{{ 'Crew List' | translate }}</h1>

<ng-container>
  <button mat-button="filled" (click)="onStartAddCrew()">
    {{ 'New Crew' | translate }}
  </button>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort (matSortChange)="announceSortChange($event)">
      
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> {{ 'Actions' | translate }} </th>
        <td mat-cell *matCellDef="let member">
          <button mat-icon-button [matMenuTriggerFor]="actionMenu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #actionMenu="matMenu">
            <button mat-menu-item (click)="listsService.goCardPage(member)">
              <mat-icon>person</mat-icon>
              <span>{{ 'Crew Card' | translate }}</span>
            </button>

            <button mat-menu-item (click)="onEditMember(member)">
              <mat-icon>edit</mat-icon>
              <span>{{ 'Edit' | translate }}</span>
            </button>

            <button mat-menu-item (click)="onDeleteMember(member)">
              <mat-icon>delete</mat-icon>
              <span>{{ 'Delete' | translate }}</span>
            </button>
          </mat-menu>
        </td>
      </ng-container>

      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
          {{ 'First Name' | translate }}
        </th>
        <td mat-cell *matCellDef="let member"> {{ member.firstName }} </td>
      </ng-container>

      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'Last Name' | translate }}
        </th>
        <td mat-cell *matCellDef="let member"> {{ member.lastName }} </td>
      </ng-container>

      <ng-container matColumnDef="nationality">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'Nationality' | translate }}
        </th>
        <td mat-cell *matCellDef="let member"> {{ member.nationality }} </td>
      </ng-container>

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'Title' | translate }}
        </th>
        <td mat-cell *matCellDef="let member"> {{ member.title }} </td>
      </ng-container>

      <ng-container matColumnDef="daysOnBoard">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'Days On Board' | translate }}
        </th>
        <td mat-cell *matCellDef="let member"> {{ member.daysOnBoard }} </td>
      </ng-container>

      <ng-container matColumnDef="dailyRate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'Daily Rate' | translate }}
        </th>
        <td mat-cell *matCellDef="let member"> {{ member.dailyRate }} </td>
      </ng-container>

      <ng-container matColumnDef="currency">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'Currency' | translate }}
        </th>
        <td mat-cell *matCellDef="let member"> {{ member.currency }} </td>
      </ng-container>

      <ng-container matColumnDef="discount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'Discount' | translate }}
        </th>
        <td mat-cell *matCellDef="let member">
          <input
            type="number"
            matInput
            min="0"
            [(ngModel)]="member.discount"
            (ngModelChange)="updateTotalIncome(member)"
            [placeholder]="'Enter' | translate"
          />
        </td>
      </ng-container>

      <ng-container matColumnDef="totalIncome">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'Total Income' | translate }}
        </th>
        <td mat-cell *matCellDef="let member">
          {{ getDiscountedIncome(member) | number }}
        </td>
      </ng-container>

      <ng-container matColumnDef="certificate">
        <th mat-header-cell *matHeaderCellDef>
          {{ 'Certificates' | translate }}
        </th>
        <td mat-cell *matCellDef="let member">
          <button mat-stroked-button color="primary" (click)="openDialog(member)">
            {{ 'View Certificates' | translate }}
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="[
        'action',
        'firstName', 'lastName', 'nationality', 'title',
        'daysOnBoard', 'dailyRate', 'currency', 'discount','totalIncome', 'certificate'
      ]"></tr>

      <tr mat-row *matRowDef="let row; columns: [
        'action',
        'firstName', 'lastName', 'nationality', 'title',
        'daysOnBoard', 'dailyRate', 'currency', 'discount', 'totalIncome', 'certificate'
      ];">
      </tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      aria-label="Select page of Crew">
    </mat-paginator>
  </div>

  <p>{{ 'Total Income per USD' | translate }}: {{ getTotalIncomeByCurrency('USD') }}</p>
  <p>{{ 'Total Income per EUR' | translate }}: {{ getTotalIncomeByCurrency('EUR') }}</p>
</ng-container>
